<style>
    /* NOT Working
      <link rel="stylesheet" type="text/css"
      href="https://checkpointwiki.atlassian.net/wiki/download/attachments/17095870/Wiki_Cloud_Menus_Stylesheet.CSS">*/
    /* Home Button */
    .homeButton {
      background-color: #444444;
      border-right: 1px solid #E45785;
      border-left: 1px solid #E45785;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      padding: 6px;
      width: 24px;
      height: 27px;
      cursor: pointer;
    }
    
    /* Dropdown container */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown button */
    .dropbtn {
      background-color: #444444;
      color: #f2f2f2 !important;
      border: none;
      cursor: pointer;
      text-align: center;
      padding: 10px;
      text-decoration: none;
      transition: 0.3s;
      list-style: none !important;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      font-size: 14px;
    }
    
    /* Dropdown content */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2) !important;
      z-index: 99;
      font-family: inherit;
      font-size: 14px;
      margin: 0;
      padding: 0;
    }
    
    /* Dropdown links */
    .dropdown-content a {
      color: #999999;
      padding: 6px;
      text-decoration: none;
      display: block;
      white-space: nowrap;
      background-color: #E45785;
      margin: 0;
    }
    
    .dropdown-content a:hover {
      color: black !important;
    }
    
    .MenuHyperlink {
      color: white !important;
    }
    
    /* Show dropdown on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    /* Reset margins/padding */
    a, img {
      margin: 0;
      padding: 0;
      display: inline-block;
    }
</style>

